<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>#CSS - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    
    <script src="/js/modernizr.js"></script>
  </head>
  <body>
    
    <nav class="top-bar docs-bar hide-for-small" data-topbar="">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">{{ site.name }}</a></h1>
        </li>
      </ul>
      
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown not-click">
            <a href="/rules">Rules</a>
            <ul class="dropdown">
              <li><a href="/rules/#rules">Code of Conduct</a></li>
              <li><a href="/rules/#channel-guidelines">Guidelines</a></li>
              <li><a href="/rules/#channel-operators">Channel Ops</a></li>
            </ul>
          </li>
          
          <li class="divider"></li>
          <li class="has-dropdown not-click">
            <a href="/using" class="">Using #CSS</a>
            <ul class="dropdown">
              <li><a href="/using/#live-urls">Live URLs</a></li>
              <li><a href="/using/#pastebins">Pastebins</a></li>
              <li><a href="/using/#test-cases">Test Cases</a></li>
              <li><a href="/using/#pitfalls">Pitfalls</li>
              <li><a href="/using/#bots">Bots</a></li>
              <li><a href="/using/#admins">Admins</a></li>
            </ul>
          </li>

          <li class="divider"></li>
          <li>
            <a href="/faq" class="">FAQs</a>
          </li>

          <li class="divider"></li>
          <li>
            <a href="/schools" class="">Tutorials</a>
          </li>

          <li class="divider"></li>
          <li>
            <a href="/docs" class="">Docs</a>
          </li>

        </ul>
      </section>
    </nav>
    
    {{ content }}

    <footer>
    
    </footer>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
  
  </body>
</html>
